<%= stylesheet_pack_tag 'player' %>

<!-- Full Page Intro -->
<div class="view">
  <!-- Mask & flexbox options-->
  <div class="mask gradient-card align-items-center">
    <!-- Content -->
    <div class="container d-flex justify-content-center my-4">

      <div id="mobile-box">

        <h4 class="my-5 h5 text-center" style="color:rgb(235, 232, 234)">Just click<i class="fas fa-play ml-2"></i></h4>

        <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <div class="view">
            <img class="card-img-top" src="http://p2.music.126.net/5Nd0Hx9tXL2MHAZUx7Us2g==/109951163554819290.jpg"
                 alt="Card image cap">
            <a href="https://bachataurban.com/" target="_blank">
              <div class="mask gradient-card"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body text-center">

            <h5 class="h5 font-weight-bold"><a href="https://bachataurban.com/" target="_blank">Dj Flam</a></h5>
            <p class="mb-0">Urban Bachata remix</p>

            <audio id="music" preload="true">
              <source src="https://music.163.com/song/media/outer/url?id=73327651.mp3">
            </audio>
            <div id="audioplayer">
              <i id="pButton" class="fas fa-play"></i>
              <div id="timeline">
                <div id="playhead"></div>
              </div>
            </div>

          </div>

        </div>
        <!-- Card -->


      </div>
    </div>
    <!-- Content -->
  </div>
  <!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->

<%= javascript_pack_tag 'player' %>