<div class="container">
  <div class="row">
    <p class="col-xs-4">在线人数：123</p>
    <p class="col-xs-4">连接状态：在线</p>
    <%= button_to '刷新', refresh_room_path(@room), class: 'btn btn-primary col-xs-4' %>
  </div>
</div>