<div class="wrapper fadeInDown">
  <div id="formContent">
    <div>
      <h2>房间</h2>
    </div>
    <%= form_with(url: join_rooms_url, method: :get, local: true, class: 'form-group') do |f| %>
      <div class="form-group">
        <%= f.text_field :token, id: :q, class: 'form-control', placeholder: '令牌', class: 'styled-input' %>
      </div>
      <%= f.submit '加入', class: 'btn btn-primary' %>
    <% end %>

    <hr/>

    <%= button_to '创建', new_room_path, method: :get, class: 'btn btn-primary' %>
  </div>
</div>